/* CARD */
.o-card {
  background-color: var(--white-0);
  box-shadow: 0 2px 8px -2px var(--white-2);
  display: grid;
}
.o-card__wrapper {
  display: grid;
  padding-block: 0.4rem;
}
.o-card__body {
  padding-inline: 0.4rem;
  display: grid;
}
.o-card__header {
  position: relative;
}
.o-card__title {
  margin: 0;
  padding-inline: 0.4rem;
}
.o-card__image {
  filter: brightness(0.7) blur(1.5px);
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-height: 140px;
  width: 100%;
}
.o-card__footer {
  align-self: end;
  padding-inline: 0.4rem;
}

/* Specificity */
.o-card.has-image .o-card__wrapper {
  padding-block: 0 0.4rem;
}
.o-card.has-image .o-card__title {
  font-size: larger;
  position: absolute;
  bottom: 10px;
  filter: drop-shadow(0px 1px 1px var(--white-0)) invert(1);
}