/* CARD */
.o-card {
  --pointer-color: var(--app-theme-bg-level-1-alpha-015);
  --card-mask-color: var(--app-theme-bg-level-1-alpha-05);
  --effect-radial-size: 15vmin;
  --card-bg: var(--app-theme-bg-level-1);

  box-shadow: 0 2px 8px -2px var(--app-theme-bg-level-4);
  display: grid;
  background-color: var(--card-bg);
  color: var(--app-theme-color);
  position: relative;
  transition: background-color 0.1s;
}
.o-card__wrapper {
  display: grid;
  padding-block: 0.4rem;
}
.o-card__body {
  padding-inline: 0.4rem;
  display: grid;
}
.o-card__header {
  position: relative;
  overflow: hidden;
}
.o-card__title {
  margin: 0;
  padding-inline: 0.4rem;
}
.o-card__image {
  filter: brightness(0.7) blur(1.5px);
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-height: 140px;
  width: 100%;
}
.o-card__footer {
  align-self: end;
  padding-inline: 0.4rem;
}
/* Effects */
.o-card:hover {
  --active: 1;
}
.o-card:after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
      var(--pointer-color),
      transparent var(--effect-radial-size)
    );
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity 0.2s;
  z-index: var(--z-index-1);
  pointer-events: none;
}
.o-card:before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
      var(--card-mask-color),
      transparent var(--effect-radial-size)
    ),
    transparent;
  background-attachment: fixed;
  pointer-events: none;
  z-index: var(--z-index-1);
  mask:
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 50% 0 / 100% 4px no-repeat,
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 50% 100% / 100% 4px no-repeat,
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 0 50% / 4px 100% no-repeat,
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 100% 50% / 4px 100% no-repeat;
  -webkit-mask:
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 50% 0 / 100% 4px no-repeat,
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 50% 100% / 100% 4px no-repeat,
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 0 50% / 4px 100% no-repeat,
    linear-gradient(var(--app-theme-bg-level-4), var(--app-theme-bg-level-4)) 100% 50% / 4px 100% no-repeat;
}
/* Specificity */
.o-card.has-image .o-card__wrapper {
  padding-block: 0 0.4rem;
}
.o-card.has-image .o-card__title {
  font-size: larger;
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  filter: drop-shadow(0px 1px 1px var(--card-bg));
  background-image: linear-gradient(0deg, var(--card-bg), transparent);
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}